h2{
    font-style: italic;
    color: chocolate;
}
span{
color: rgb(76, 102, 10);
}
.card{
   height: 400px;
   display: inline grid;
   grid-column: 1/2;
    border: 1px rgb(0, 0, 0);
    border-radius: 25px;
}
img{
    width: 100px;
    border-radius: 25px;
}
#pets{
    display: flex;
    flex-wrap: wrap;
}


